<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQAKR4Zrc6SR_RnA5_Nz78dnn7UAPBlko</string>
	<key>GCM_SENDER_ID</key>
	<string>945403055728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.featureminds</string>
	<key>PROJECT_ID</key>
	<string>benmore-d1e97</string>
	<key>STORAGE_BUCKET</key>
	<string>benmore-d1e97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945403055728:ios:445986258cf555cfb72eb5</string>
</dict>
</plist>